/* app/globals.css */

/* Import base Tailwind directives: */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se quiser estilizações globais custom: */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
